$dkblue = #3023AE
$purple = #7c48c2
$pink = #C86DD7
$gray_text = #545454
$gray_bkgrd = darken($gray_text, 30%)
$medblue = #4b83dc
$aqua = #00cbf7
$ltblue = lighten($aqua, 40%)
$sky = #3877ce
$ltred = #ee4f5c
$dkred = #9a041a
