/**
 * CSS Generic Button Style
 *
 * Define the shared styling for buttons.
 * 
 * Usage: '@import button.styl' following the default class definition for the page.
 *        For example,
 *          .Dashboard
 *          @import 'button.styl'
 */
&__button-wrap
  display flex
  justify-content center
  margin 20px auto 0 auto

&__button

  &--btm
    margin-top 1vh
    text-decoration none

    &:last-child
      margin-left 20px
