/**
 * CSS Idea Keyword Style
 *
 * Define the shared styling for Idea Keywords.
 * 
 * Usage: '@import ideakeyword.styl' following the default class definition for the page.
 *        For example,
 *          .Dashboard
 *          @import 'ideakeyword.styl'
 */
&__keyword
  color: $gray_text;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1.4;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid $gray_bkgrd;
  margin-right: 10px;
  margin-top: 5px;
  vertical-align: top;

  &:hover
    border: 1px solid $aqua;

  &__label
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    cursor: default;
    padding: 1px 5px 4px 5px;
    display: inline-block;
    vertical-align: middle;

  &__button
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: transparent;
    color: inherit;

  &__icon
    display: inline-block;
    cursor: pointer;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid rgba(124,72,194, 0.25);
    padding: 1px 5px 3px;

    &:hover
      // color: red;
      
&__remove-keyword
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid rgba(0, 126, 255, 0.24);
  padding: 0 4px 2px;
  margin-left 10px

  &:hover
    border: 1px solid $gray_bkgrd;

&__add-button
  width 40px
  margin-left 10px
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  text-align: center;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding 6px 12px
  border 1px solid $purple
  letter-spacing 1.5px
  color $purple
  position: relative;
  overflow: hidden;
  transition all 300ms ease-in-out

  &:hover, &:active, &:focus
    -webkit-appearance: none;
    appearance: none;
    color: inherit;
    background $purple
    background linear-gradient(-134deg, $dkblue 0%, $pink 100%)
    color white
    border 1px solid $purple
    transition all 300ms ease-in-out
    -webkit-box-shadow: 2px 2px 10px 0 rgba(110, 28, 233, 0.8);
    -moz-box-shadow: 2px 2px 10px 0 rgba(110, 28, 233, 0.8);
    box-shadow: 2px 2px 10px 0 rgba(110, 28, 233, 0.8);

    