// global variables

$dkblue = #3023AE
$purple = #7c48c2
$pink = #C86DD7
$gray_text = #545454

linear-gradient()
  -webkit-linear-gradient arguments
  -moz-linear-gradient arguments
  -o-linear-gradient arguments
  linear-gradient arguments